@use '@carbon/react/scss/config';
@use '@carbon/styles/scss/components/notification';

@import "tailwindcss";
@plugin "tailwind-scrollbar";

body {
    font-family: 'Inter', sans-serif;
}

@layer base {
    *, ::before, ::after {
        @apply transition-colors duration-300;
    }
}

@layer utilities {
    @keyframes slideIn {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .animate-slide-in {
        animation: slideIn 0.2s cubic-bezier(0, 0, 0.2, 1) forwards;
    }
}

@custom-variant dark (&:where(.dark, .dark *));